<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
         http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
         http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    
	<bean id="service_IDA1EQRG" class="org.bcos.channel.client.Service">
		<property name="orgID" value="SZT" />
		<property name="threadPool">
			<bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
				<property name="corePoolSize" value="500" />
				<property name="maxPoolSize" value="1000" />
				<property name="queueCapacity" value="500" />
				<property name="keepAliveSeconds" value="60" />
				<property name="rejectedExecutionHandler">
					<bean class="java.util.concurrent.ThreadPoolExecutor.AbortPolicy" />
				</property>
			</bean>
		</property>
		<property name="allChannelConnections">
			<map>
				<entry key="SZT">
					<bean class="org.bcos.channel.handler.ChannelConnections">
						<property name="connectionsStr">
							<list>
								<value>nodeSZT@10.107.105.225:18824</value>
								<!-- <value>nodeSZT@10.107.105.225:8824</value>
								<value>nodeSZT@10.107.105.193:8824</value> -->
							</list>
						</property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>
	
	<bean id="service_IDALHM0x" class="org.bcos.channel.client.Service">
		<property name="orgID" value="SZT" />
		<property name="threadPool">
			<bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
				<property name="corePoolSize" value="500" />
				<property name="maxPoolSize" value="1000" />
				<property name="queueCapacity" value="500" />
				<property name="keepAliveSeconds" value="60" />
				<property name="rejectedExecutionHandler">
					<bean class="java.util.concurrent.ThreadPoolExecutor.AbortPolicy" />
				</property>
			</bean>
		</property>
		<property name="allChannelConnections">
			<map>
				<entry key="SZT">
					<bean class="org.bcos.channel.handler.ChannelConnections">
						<property name="connectionsStr">
							<list>
								<value>nodeSZT@10.107.105.225:18824</value>
								<!-- <value>nodeSZT@10.107.105.225:8824</value>
								<value>nodeSZT@10.107.105.193:8824</value> -->
							</list>
						</property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>
</beans>
